<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title"> న్యూస్ సమాచారం</h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
      ప్రపంచ ప్రసిద్ధి గాంచిన అయ్యప్ప ఆలయం.
    </p>

    <h3 style="font-size: 16px; font-weight: bold;">ప్రతి సంవత్సరం లక్షల మంది భక్తులు మందలపురం దారి ద్వారా వస్తారు.</h3>
    <p>మకరజ్యోతి, మకరవిలకు ప్రధాన ఆకర్షణలు.</p>
    <p>శబరిమల అయ్యప్ప స్వామితో సంబంధం ఉన్న మరో పవిత్ర ఆలయం.</p>
    <p>ఇక్కడున్న అయ్యప్ప స్వామి విగ్రహం తానుగా ప్రత్యక్షమైనదిగా నమ్ముతారు.</p>
    <p>ఇది 108 శబరిమల మరుమణ్డపాలయాలలో ఒకటి.</p>
    <p>ఇక్కడి అయ్యప్ప స్వామిని ప్రత్యేకమైన రీతిలో పూజిస్తారు.</p>
   
  </div>
</div>