<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title">అయ్యప్ప క్యాలెండర్ సమాచారం</h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
      అయ్యప్ప స్వామి భక్తులు ప్రతి సంవత్సరం ప్రత్యేక పూజలు, దీక్షలు, మాండలిక వేళలు పాటిస్తూ అయ్యప్ప స్వామిని పూజిస్తారు. ఈ క్యాలెండర్ ముఖ్యమైన అయ్యప్ప పూజా రోజులను, వ్రతాలు, దీక్ష ప్రారంభ తేదీలను అందిస్తుంది.
    </p>

    <h3 style="font-size: 16px; font-weight: bold;">మండల పూజ ప్రారంభం: 2024 నవంబర్ 16</h3>
    <p>మండల దీక్ష ముగింపు (మండల పూజ): 2024 డిసెంబర్ 26</p>
    <p>మకరజ్యోతి, మకర సంక్రాంతి పూజ: 2025 జనవరి 14</p>
    <p>శబరిమల ఆలయం తెరవబడే తేదీ: 2024 నవంబర్ 16</p>
    <p>శబరిమల ఆలయం మూసే తేదీ: 2025 జనవరి 20</p>
    <p>మాండలిక కాలం &amp; ముఖ్య పూజలు</p>
   
  </div>
</div>