<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title"> పాదయాత్ర బృందాలు  సమాచారం</h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
     శబరిమల మహా పాదయాత్ర కార్యక్రమం. సికేంద్రాబాద్‌లోని శ్రీ గణేష్‌ టెంపుల్‌ నుంచి శబరిమల వరకు
    </p>

    <h3 style="font-size: 16px; font-weight: bold;">అయ్యప్ప స్వామి భక్తబృందం</h3>
    <p>శబరిమల మహా పాదయాత్ర కార్యక్రమం. సికేంద్రాబాద్‌లోని శ్రీ గణేష్‌ టెంపుల్‌ నుంచి శబరిమల వరకు</p>
  
   
  </div>
</div>