<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/home" 
        color="light"
        text=""
        icon="arrow-back-outline"
        style="margin-left: 14px;">
  </ion-back-button>
    </ion-buttons>
    <div class="custom-toolbar">
      <h1>స్వామి శరణం అయ్యప్ప</h1>
      <h2>(www.ayyappatelugu.com)</h2>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <!-- Option 1 -->
    <ion-item button (click)="goToChangePassword()">
      <ion-label style="color: #fff;">Change PassWord</ion-label>
    </ion-item>

    <!-- Option 2 -->
    <ion-item button (click)="confirmDelete()">
      <ion-label style="color: #fff;">Delete Account</ion-label>
    </ion-item>

  </ion-list>

</ion-content>

 <ion-footer slot="fixed">
    <ion-toolbar class="custom-footer">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">

          <!-- First Item: Icon + Text -->
          <ion-col size="auto" (click)="goToAnadanam()">
            <div class="icon-text-row">
              <ion-img src="../../../assets/location.png" class="bottom-icon"></ion-img>
              <p class="bottom-text">అన్నదానం</p>
            </div>
          </ion-col>

          <!-- Center Icon -->
          <ion-col class="ion-text-center" size="2.4">
            <ion-img src="../../../assets/bottomcenter.png" class="bottom-icon"></ion-img>
          </ion-col>

          <!-- Fifth Item: Text + Icon -->
          <ion-col size="auto" (click)="goToNityaPooja()">
            <div class="text-image-row">
              <p class="bottom-text">నిత్య పూజ</p>
              <ion-img src="../../../assets/nithyapooja.png" class="bottom-icon"></ion-img>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>