<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title"> అయ్యప్ప పుస్తకాలు  సమాచారం </h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
      అయ్యప్ప స్వామి భక్తులకు అనేక పుస్తకాలు అందుబాటులో ఉన్నాయి, ఇవి అయ్యప్ప చరిత్ర, అయ్యప్ప మంత్రాలు, వ్రత విధానం, భజనలు, మరియు యాత్ర వివరాలను అందిస్తాయి.
    </p>

    <h3 style="font-size: 16px; font-weight: bold;">అయ్యప్ప స్వామి చరిత్ర &amp; వ్రత విధానం</h3>
    <p>అయ్యప్ప స్వామి జన్మ కథ, తత్వశాస్త్రం, మరియు పూజా విధానాలు.</p>
    <p>అయ్యప్ప వ్రత విధానం, నిత్య నియమాలు, మరియు మాలధారణ విధానం.</p>
    <p>అయ్యప్ప దీక్ష నియమాలు, ఉపవాసం, మరియు భక్తి పాటలు.</p>
    <p>అయ్యప్ప స్వామికి సంబంధించిన కీర్తనలు, సుప్రభాతం, మరియు స్తుతులు.</p>
    <p>అయ్యప్ప స్వామి దర్శనం చేసుకునే ముందు పాటించాల్సిన నియమాలు, ప్రాముఖ్యత.</p>
   
  </div>
</div>