<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title"> అయ్యప్ప యాత్రలు సమాచారం </h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
      అయ్యప్ప యాత్ర అనేది భక్తుల ఆధ్యాత్మిక శ్రమయాత్ర, ముఖ్యంగా సబరిమల అయ్యప్ప ఆలయం కు వెళ్లే యాత్రగా ప్రసిద్ధి చెందింది. ఈ యాత్ర మకరజ్యోతి దర్శనం, మండల కాలం (నవంబర్ నుండి జనవరి వరకు) మరియు ఆచార సంప్రదాయాలతో ప్రత్యేకతను కలిగి ఉంది.
    </p>

    <h3 style="font-size: 16px; font-weight: bold;">యాత్ర ప్రారంభం</h3>
    <p>భక్తులు సాధారణంగా కార్తీక, మార్గశిర మాసంలో అయ్యప్ప మాలధరిస్తారు.</p>
    <p>దీక్షాకాలంలో శుద్ధి, బ్రహ్మచర్యం, నిరాహార దీక్షలు, భక్తి పాటలు, అన్నదానం వంటి నియమాలు పాటించాలి.</p>
    <p>కొత్త భక్తులకు గురుస్వామి (అనుభవం కలిగిన భక్తుడు) మార్గదర్శకత్వం అందిస్తారు.</p>
    <p>ఇది అత్యంత సాధారణ మార్గం, ఎక్కువ మంది భక్తులు ఈ మార్గాన్ని అనుసరిస్తారు.</p>
    <p>భక్తులు ఈ మార్గంలో పాదయాత్ర చేస్తూ భక్తి గీతాలు ఆలపిస్తూ ప్రయాణిస్తారు.</p>
   
  </div>
</div>