<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title"> ఉత్పత్తుల సమాచారం</h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
      భక్తుల కోసం మార్కెట్లో ఎన్నో అయ్యప్ప స్వామి సంబంధిత ఉత్పత్తులు లభిస్తున్నాయి. అవి పూజా సామగ్రి నుండి ధార్మిక వస్త్రధారణ వరకు విభిన్న రకాలుగా ఉంటాయి.
    </p>

    <h3 style="font-size: 16px; font-weight: bold;">అయ్యప్ప స్వామి విగ్రహాలు – పూజకు ఉపయోగపడే విభిన్న పరిమాణాల్లో లభించే విగ్రహాలు.</h3>
    <p>అభిషేక ద్రవ్యాలు – శుద్ధ నెయ్యి, చందనం, పసుపు, కుంకుమ, పంచామృతం, తులసీ దళాలు.</p>
    <p>వ్రత దీపాలు &amp; అర్చన కిట్ – స్వామి పూజకు అవసరమైన అన్ని వస్తువులు కలిగి ఉండే కిట్.</p>
    <p>పట్టుదుప్పట్లు &amp; పంచలు – ఆలయ దర్శనం లేదా ప్రత్యేక పూజలకు ధరించేందుకు.</p>
    <p> కలువమణి (కాలువ బట్టలు) – అయ్యప్ప మాలధారణ చేసిన భక్తులు ధరించే నల్లని వస్త్రాలు.</p>
    <p>అయ్యప్ప బాద్యతలు (Bag &amp; Belt) – అయ్యప్ప యాత్రికులు ఉపయోగించే పూజా సామగ్రి బ్యాగ్ &amp; నడుము బెల్ట్.</p>
   
  </div>
</div>