.login-page {
  --background: url('../../../assets/bg_logo.jpeg') no-repeat center center / cover;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  position: relative;
}

.card-wrapper {
  width: calc(100% - 60px);
  max-width: 400px;
  margin-top: 40px;
  position: relative;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px); /* center horizontally */
  z-index: 2;
}

.profile-image ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header card like Android LinearLayout */
.header-card {
  background: #bc0f0f;
  border-radius: 12px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.login-card {
  width: 100%;
  max-width: 350px;
  text-align: center;
  background: transparent; /* Transparent background */
  box-shadow: none; /* Remove shadow if any */
 
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.login-subtitle {
  color: #fff;
  font-size: 14px;
  margin-bottom: 18px;
  font-weight: normal;
}

.input-item {
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #ccc;
}

.login-btn {
  margin-top: 20px;
  --border-radius: 12px;
}

.links {
  margin-top: 14px;
  text-align: right;
}

.forgot-link {
  font-weight: bold;
  cursor: pointer;
}

.register-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #f90a0a;
  border-radius: 8px;
}