<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title"> అయ్యప్ప భజన మండలి  సమాచారం</h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
      అయ్యప్ప భజన మండలి అనేది స్వామి అయ్యప్ప భక్తుల కోసం ఏర్పాటు చేసిన భక్తి మండలి. ఈ మండలిలో అయ్యప్ప భక్తులు కలిసి భజనలు చేస్తారు, భక్తి కార్యక్రమాలు నిర్వహిస్తారు, మకరజ్యోతి మహోత్సవానికి పయనం ఏర్పాట్లు చేస్తారు.
    </p>

    <h3 style="font-size: 16px; font-weight: bold;">భజన మండలి ముఖ్య ఉద్దేశ్యాలు</h3>
    <p>అయ్యప్ప భక్తులకు సామూహిక భజన కార్యక్రమాలు</p>
    <p>అయ్యప్ప మాలధారణ, దీక్ష విధానాలు</p>
    <p>సబరిమల యాత్ర ఏర్పాట్లు</p>
    <p>పూజా కార్యక్రమాలు</p>
    <p>అన్నదానం &amp; సామాజిక సేవా కార్యక్రమాలు</p>
   
  </div>
</div>