.register-page {
  --background: url('../../../assets/bg_logo.jpeg') no-repeat center center / cover;
 
}

.register-container {
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.card-wrapper {
  width: calc(100% - 60px);
  max-width: 400px;
  margin-top: 40px;
  position: relative;
}

/* Profile Image overlapping header card */
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px); /* center horizontally */
  z-index: 2;
}

.profile-image ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.header-card {
  background: #bc0f0f;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/* Scrollable form */
.form-scroll {
  margin-top: 0px;
  max-height: 500px;
}

.form-container {
  display: flex;
  flex-direction: column; 
  border-radius: 12px;
}

/* Subtitle */
.form-subtitle {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 12px;
}

/* Input Items */
.input-item {
  margin-top: 12px;
  border-radius: 8px;
  background: #fff;
  padding: 0 0px;
}

/* Register Button */
.register-btn {
  margin-top: 14px;
  --border-radius: 12px;
  color: #fff;
  font-weight: bold;
}

/* Already a member link */
.login-link {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.clickable {
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}
.form-scroll {
  max-height: 500px;
  overflow-y: auto; /* makes it scrollable like ScrollView */
  margin-top: 0px;
}