<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light" text=""></ion-back-button>
    </ion-buttons>
    <div class="custom-toolbar">
      <h1>స్వామి శరణం అయ్యప్ప</h1>
      <h2>(www.ayyappatelugu.com)</h2>
    </div>   
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding guru-details-content">

  <!-- Image + Name + Details -->
  <div class="details-header">
   
     <div class="header-container">
    <span class="header-title">గురుస్వామి  వివరాలు</span>
    </div>
    <ion-img [src]="image" class="guru-img"></ion-img>
    <h2 class="guru-name">{{ name }}</h2>
    <p class="guru-temple">{{ temple }} / {{ city }}</p>
  </div>

  <!-- Tabs -->
      <ion-segment [(ngModel)]="selectedTab" class="custom-segment">
      <ion-segment-button value="వివరణ">వివరణ</ion-segment-button>
      <ion-segment-button value="స్వీయ చరిత్ర">స్వీయ చరిత్ర</ion-segment-button>
      <ion-segment-button value="సందేశం">సందేశం</ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="selectedTab" class="tab-content">
      <div *ngSwitchCase="'వివరణ'">
        <p>స్వామియే శరణం అయ్యప్ప</p>
      </div>
      <div *ngSwitchCase="'స్వీయ చరిత్ర'">
        <p>అయ్యప్ప స్వామి పూజ చేపించాలని తపన ఉన్నా కానీ డబ్బులు లేని వారికోసం మేము మా వంతు సహాయంగా పురోహితం ఉచితంగా జరిపిస్తాము.</p>
      </div>
      <div *ngSwitchCase="'సందేశం'">
        <p>అయ్యప్ప స్వామి పూజ చేపించాలని తపన ఉన్నా కానీ డబ్బులు లేని వారికోసం మేము మా వంతు సహాయంగా పురోహితం ఉచితంగా జరిపిస్తాము.</p>
      </div>
    </div>

</ion-content>

 <ion-footer>
    <ion-toolbar class="custom-footer">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">

          <!-- First Item: Icon + Text -->
          <ion-col size="auto" (click)="goToAnadanam()">
            <div class="icon-text-row">
              <ion-img src="../../../assets/location.png" class="bottom-icon"></ion-img>
              <p class="bottom-text">అన్నదానం</p>
            </div>
          </ion-col>

          <!-- Center Icon -->
          <ion-col class="ion-text-center" size="2.4">
            <ion-img src="../../../assets/bottomcenter.png" class="bottom-icon"></ion-img>
          </ion-col>

          <!-- Fifth Item: Text + Icon -->
          <ion-col size="auto" (click)="goToNityaPooja()">
            <div class="text-image-row">
              <p class="bottom-text">నిత్య పూజ</p>
              <ion-img src="../../../assets/nithyapooja.png" class="bottom-icon"></ion-img>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>