<ion-content fullscreen class="login-page">
<div class="text-bg">
<div class="intro-text">
    <h2>🙏 స్వామియే శరణం అయ్యప్ప 🙏</h2>
    <p>WWW.AYYAPPATELUGU.COM కి స్వాగతం!</p>

    <h3>యాప్‌లో ఉన్న ముఖ్య ఫీచర్లు:</h3>
    <ul>
      <li>అన్నదాన కార్యక్రమాలు నిర్వహించే సన్నిధానాలు. (Google Maps తో అనుసంధానం చేయడం జరిగింది)</li>
      <li>నిత్యపూజ, శరణుఘోష, హరివరాసనం వంటి పూజా విధానాలు (కంటెంట్ రూపంలో ఇవ్వడం జరిగింది)</li>
      <li>భజన మండలి & గురుస్వాముల వివరాలు</li>
      <li>శబరిమల క్యాలెండర్, ఆలయ దర్శన సమయాలు</li>
      <li>సకల దేవత ఆలయాలు, అయ్యప్ప దేవాలయాలు, సేవా సంస్థలు మొదలగు సమాచారం</li>
      <li>శబరిమల ఆలయం దర్శనానికి అనుమతించు రోజుల వివరముల క్యాలెండరు 2025 - 2026</li>
    </ul>
  </div>
</div>
  

 <div class="button-center">
    <ion-button
      color="danger"
      shape="round"
      class="continue-btn"
      (click)="continue()">
      Continue
    </ion-button>
  </div>

</ion-content>