<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title"> అయ్యప్ప బ్లాగ్  సమాచారం</h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
     శబరిమల లేదా శబరిమలై, కేరళ రాష్ట్రంలోగల ఒక ప్రసిద్ధి గాంచిన పుణ్యక్షేత్రం. ఇక్కడ కొలువైన దేవుడు అయ్యప్ప, హిందువులు ఈయనను హరిహరసుతుడిగా భావించి పూజిస్తారు. ఈ ప్రదేశం పశ్చిమ కనుమల్లో నెలకొని ఉంది. కేరళ లోని పత్తినంతిట్ట జిల్లాలో సహ్యాద్రి పర్వత శ్రేణుల ప్రాంతం క్రిందకు వస్తుంది. గుడి సముద్ర మట్టం నుంచి సుమారు 3000 అడుగుల ఎత్తులో దట్టమైన అడవులు మరియు 18 కొండల మధ్య కేంద్రీకృతమై ఉంటుంది.
    </p>

    <h3 style="font-size: 16px; font-weight: bold;">అయ్యప్ప స్వామి చరిత్ర &amp; వ్రత విధానం</h3>
    <p>అయ్యప్ప స్వామి జన్మ కథ, తత్వశాస్త్రం, మరియు పూజా విధానాలు.</p>
    <p>అయ్యప్ప వ్రత విధానం, నిత్య నియమాలు, మరియు మాలధారణ విధానం.</p>
    <p>అయ్యప్ప దీక్ష నియమాలు, ఉపవాసం, మరియు భక్తి పాటలు.</p>
    <p>అయ్యప్ప స్వామికి సంబంధించిన కీర్తనలు, సుప్రభాతం, మరియు స్తుతులు.</p>
    <p>అయ్యప్ప స్వామి దర్శనం చేసుకునే ముందు పాటించాల్సిన నియమాలు, ప్రాముఖ్యత.</p>
   
  </div>
</div>