<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title">అయ్యప్ప కార్యక్రమాలు సమాచారం</h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
      అయ్యప్ప భక్తులు శబరిమల స్వామి దర్శనానికి ముందుగా అనుసరించాల్సిన ముఖ్యమైన కార్యక్రమాలు, పూజలు, మరియు నియమాల గురించి వివరంగా తెలియజేస్తున్నాము.
    </p>

    <h3 style="font-size: 16px; font-weight: bold;">మాలధారణ</h3>
    <p>శబరిమల యాత్రకు ముందు భక్తులు 41 రోజుల దీక్షలోకి ప్రవేశించాలి.</p>
    <p>గురుస్వామి ఆధ్వర్యంలో మాత్రమే అయ్యప్ప మాల ధరించాలి.</p>
    <p>మాల ధరించిన తరువాత భక్తులు పూనకోటి అయ్యప్ప స్వామిని ఆరాధించాలి.</p>
    <p>భక్తి, నిష్టలతో మాలధారణ చేయాలి.</p>
    <p>మాల ధరించిన తరువాత శుద్ధమైన ఆహారం తీసుకోవాలి.</p>
  </div>
</div>