<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title">అయ్యప్ప కార్యక్రమాలు సమాచారం</h2>
    <ion-button fill="clear" size="small" (click)="close()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="dialog-content">
    <p>అయ్యప్ప భక్తులు శబరిమల స్వామి దర్శనానికి ముందుగా అనుసరించాల్సిన ముఖ్యమైన కార్యక్రమాలు...</p>
    <h3>మాలధారణ</h3>
    <p>శబరిమల యాత్రకు ముందు భక్తులు 41 రోజుల దీక్షలోకి ప్రవేశించాలి.</p>
  </div>
</div>