<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title">గురుస్వాముల సమాచారం</h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
      గురుస్వామి అనేది అయ్యప్ప మాలధారణ చేసిన భక్తులను శబరిమల యాత్రకు నాయకత్వం వహించే ఒక అధికారం కలిగిన భక్తుడు. గురుస్వామి శబరిమల ఆచారాలు, నియమాలు మరియు యాత్ర ప్రక్రియ గురించి పూర్తి అవగాహన కలిగి ఉంటాడు.
    </p>

    <h3 style="font-size: 16px; font-weight: bold;">గురుస్వామి ముఖ్య పాత్రలు:</h3>
    <p>మాలధారణ (Mala Dharana):</p>
    <p>భక్తులు అయ్యప్ప మాల ధరించే ముందు గురుస్వామి అనుమతి తీసుకోవాలి. మాలధారణ సమయంలో గురుస్వామి ప్రత్యేకంగా మంత్రోచ్చారణ చేస్తారు."</p>
   
  </div>
</div>