<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
     <ion-back-button 
    defaultHref="/home" 
    color="light"
    text=""
    icon="arrow-back-outline"
    style="margin-left: 14px;">
  </ion-back-button>
    </ion-buttons>
    <div class="custom-toolbar">
      <h1>స్వామి శరణం అయ్యప్ప</h1>
      <h2>(www.ayyappatelugu.com)</h2>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="about-content" scrollY="true">
  <div class="about-container">
    <p>ఓం శ్రీ స్వామియే శరణం అయ్యప్ప</p>
    <p>అయ్యప్ప తెలుగు కి స్వాగతం</p>
    <p>
      అయ్యప్ప తెలుగు అనేది తెలుగు అయ్యప్ప భక్తులకు సంబందించి డెక్కన్ స్పార్క్ టెక్నాలజీస్ చేత డెవలప్ చేయబడిన Website మరియు Mobile App (App).
    </p>
    <p>
      అయ్యప్ప తెలుగు ముఖ్య ఉద్దేశం అయ్యప్ప భక్తులకు సంబందించి ప్రతి ముఖ్య సమాచారం ఇవ్వబడును.
    </p>
    <p><b>ముఖ్యాంశాలు:</b></p>
    <p>
      అన్నదానం: భక్తులకు సమీపంలో ఉన్న అన్నదానాలు నిర్వహించే సన్నీదానాలు మరియు గుడుల వివరాలు తెలుపబడును. Google maps ఆధారంగా అన్నదానాలు నిర్వహించే స్థలాలకు భక్తులు చేరుకోగలరు.
    </p>
    <p>
      భజన మండలి: అయ్యప్ప భక్తులు భజన మండలి వివరాలు తెలుసుకోవచ్చు మరియు వారిని నేరుగా సంప్రదించవచ్చు.
    </p>
    <p>
      గురుస్వాములు: అయ్యప్ప భక్తులు, పడిపూజాలు నిర్వహించే గురుస్వాముల వివరాలు తెలుసుకోవచ్చు మరియు వారిని నేరుగా సంప్రదించవచ్చు.
    </p>
    <p>
      పూజా కార్యక్రమాలు: అయ్యప్ప భక్తులకు సంబందించి నిత్యపూజా విదానం, శరనుఘోష, హరివరాశనం, మొదలగు వివరాలు లభించును.
    </p>
    <p>
      వార్తలు: అయ్యప్ప స్వాములకు మరియు శబరిమల ఆలయానికి సంబందించిన వార్తా విశేషాలు అందించడం జరుగుతుంది.
    </p>
    <p>
      అయ్యప్ప క్యాలండర్: అయ్యప్ప క్యాలండర్ నందు శబరిమల అయ్యప్ప దేవాలయం తెరిచే సమయాలు (నెలల వారీగా) పొందుపరచడం జరిగింది.
    </p>
    <p>
      అయ్యప్ప దేవాలయాల వివరాలు: అయ్యప్ప ఆలయ వివరాలు, ప్రదేశం, ఆలయాలు తెరిచే సమయం, ఆ రోజులో మూసివేసే సమయం మరియు విరామ సమయాలు తెలుపబడును. ఆలయ ప్రదేశానికి నేరుగా వెళ్లడానికి Google Maps navigation Integrate చేయడం జరిగింది.
    </p>
    <p>
      సకల దేవతల ఆలయాల వివరాలు: ఆలయ వివరాలు, ప్రదేశం, ఆలయాలు తెరిచే సమయం, ఆ రోజులో మూసివేసే సమయం మరియు విరామ సమయాలు తెలుపబడును. ఆలయ ప్రదేశానికి నేరుగా వెళ్లడానికి Google Maps navigation Integrate చేయడం జరిగింది.
    </p>
    <p>
      సేవా సంస్థల వివరాలు: సేవా సంస్థలు మరియు వారి వివరాలు పొందుపరిచాము.
    </p>
    <p>ధన్యవాదాలు.</p>
  </div>
</ion-content>