:host {
  display: block;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;   /* full height inside host */
  position: absolute;
}
.zoom-fab {
  margin-bottom: 250px; // nav bar ki clash kakunda
  margin-right: 12px;
}

.zoom-controls {
  display: flex;
  flex-direction: column;
  gap: 6px; // buttons madhya gap
  background: #000;
}

.zoom-btn {
  --background: #ffffff;   // white background
  --color: #333333;        // dark icon
  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); // shadow
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  padding: 6px;
}
.info-window-container {
  font-family: Arial, sans-serif;
  max-height: 200px;
  overflow-y: auto;
  padding: 8px;
}

.info-window-container h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.info-window-container p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.navigation-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  border-radius: 8px;
  padding: 6px 10px;
  margin-top: 8px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navigation-button span {
  font-size: 14px;
  font-weight: bold;
  color: #3C54DA;
  margin-right: 8px;
}

.navigation-button img {
  width: 24px;
  height: 24px;
}