<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/home" 
        color="light"
        text=""
        icon="arrow-back-outline"
        style="margin-left: 14px;">
  </ion-back-button>
    </ion-buttons>
    <div class="custom-toolbar">
      <h1>స్వామి శరణం అయ్యప్ప</h1>
      <h2>(www.ayyappatelugu.com)</h2>
    </div>   
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- Basic Information -->

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Basic Information
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

       <div class="profile-section">

          <div class="image-wrapper">

           <img
              [src]="selectedImage || 'assets/ayyappaphome.png'"
              class="profile-image"
            >

            <ion-icon
              name="camera"
              class="camera-icon"
              (click)="selectProfileImage()">
            </ion-icon>

          </div>

        </div>

       

       <ion-item class="input-item">
            <ion-icon name="person-outline" slot="start" style="margin-right: 10px;"></ion-icon>
            <ion-input type="text" placeholder="First Name" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" > </ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-icon name="person-outline" slot="start" style="margin-right: 10px;"></ion-icon>
            <ion-input type="text" placeholder="Last Name" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" > </ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-icon name="mail-outline" slot="start" style="margin-right: 10px;"></ion-icon>
            <ion-input type="email" placeholder="Enter Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" ></ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-icon name="call-outline" slot="start" style="margin-right: 10px;"></ion-icon>
            <ion-input type="tel" placeholder="Enter Mobile Number" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}" ></ion-input>
          </ion-item>


    </ion-card-content>

  </ion-card>

  <!-- Flyer Information -->

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Flyer Information
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

        <div class="profile-section">

  <div class="image-wrapper">

    <img
  [src]="selectedFlyerImage || 'assets/ayyappaphome.png'"
  class="profile-image">

    <ion-icon
      name="camera"
      class="camera-icon"
      (click)="selectFlyerImage()">
    </ion-icon>

  </div>

</div>

<ion-item class="input-item">
  <ion-icon
    name="person-outline"
    slot="start">
  </ion-icon>

  <ion-input
    type="text"
    placeholder="Name On Flyer"
    [(ngModel)]="flyerName"
    [ngModelOptions]="{standalone:true}">
  </ion-input>
</ion-item>

<ion-item class="input-item">
  <ion-icon
    name="briefcase-outline"
    slot="start">
  </ion-icon>

  <ion-input
    type="text"
    placeholder="Designation On Flyer"
    [(ngModel)]="flyerDesignation"
    [ngModelOptions]="{standalone:true}">
  </ion-input>
</ion-item>

    </ion-card-content>

  </ion-card>

  <div style="padding:16px;">
  <ion-button
    expand="block"
    color="danger"
    (click)="updateProfile()">

    Submit

  </ion-button>
</div>

</ion-content>