<ion-app>
  <!-- Side Menu -->
  <!-- <ion-menu side="start" menuId="first" contentId="main-content" type="overlay">
    <ion-content class="ion-padding">
      <div class="menu-header">
         <ion-avatar>
          <img [src]="image" />
        </ion-avatar>
        <h4>{{ name }}</h4>
        <p>{{ email }}</p>
      </div>

      <ion-list lines="none">
        <ion-item detail="false" button (click)="goToSwamiLogin()">
         <div class="custom-circle" slot="start"></div>
          <ion-label>Swami Registration / Login</ion-label>
        </ion-item>

       
      </ion-list>
    </ion-content>
  </ion-menu> -->

  <!-- Main Content -->
  <div class="ion-page" id="main-content">
    <!-- App Bar / Toolbar -->
   <ion-header>
  <ion-toolbar color="danger">
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->

    <!-- Custom Header Layout -->
    <div class="custom-toolbar">
      <h1>స్వామి శరణం అయ్యప్ప</h1>
      <h2>(www.ayyappatelugu.com)</h2>
    </div>
  </ion-toolbar>
</ion-header>

    <ion-content fullscreen>
    
       <div class="container center-content">

                     
                    <span class="header-title">For More Details, Plz Register Ayyappa App Info</span>
                  


                    <div class="view-all-wrapper">
                        <ion-button class="view-all-btn" (click)="goToSwamiLogin()">
                          Swami Registration / Login
                        </ion-button>
                      </div>


          <!-- <div class="container home-bg">

                <div class="nityapooja-card" (click)="goToNityaPooja()">
                  <ion-img src="../../../assets/ayyappaphome.png" class="nityapooja-img"></ion-img>
                  <h2 class="nityapooja-title">అయ్యప్ప స్వామి నిత్యపూజా విధానం</h2>
                </div>

                
                <div class="below-img">
                  <ion-img src="../../../assets/ayyappa_below.png"></ion-img>
                </div>

                
                <div class="sharanughosha-card" (click)="goToSharanughosha()">
                  <ion-img src="../../../assets/background.jpeg" class="sharanughosha-img"></ion-img>
                  <h2 class="sharanughosha-title">శరణుఘొష</h2>
                </div>

              </div> -->
             <!-- <ion-card class="anadanam-card anadanamno-gap-card" (click)="goToAnadanam()" style="margin-top: 30px; margin-bottom: -15px;">
                <ion-grid class="anadanamno-gap-card">
                  <ion-row class="ion-align-items-center ion-no-padding">

                 
                    <ion-col size="auto" class="ion-text-center">
                      <ion-img src="assets/location.png" class="anadanam-img"></ion-img>
                    </ion-col>

                   
                    <ion-col class="ion-text-center">
                      <div class="text-container">
                        <h2 class="anadanam-title">అన్నప్రసాదం</h2>
                        <p class="anadanam-subtitle">
                          (స్వాములకు అన్నదానం నిర్వహించే సన్నిధానాలు)
                        </p>
                      </div>
                    </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-card> -->

              <!-- <ion-card class="abacus-card no-gap-card" (click)="goToAnadanam()">
                <ion-grid class="no-gap-grid">
                  <ion-row>
                    <ion-col>
                      <ion-img src="../../../assets/abacusad.png" class="ad-image"></ion-img>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card> -->
                      <!-- <div>
                          <div class="header-container">
                          <span class="header-title">వార్తలు</span>   
                          <img src="../../../assets/seva.png" class="header-icon" />                       
                        </div>
                     <div class="news-list-wrapper">
                          <ion-card *ngFor="let news of newsList" class="news-card" (click)="openNewsDetails(news)">
                            <ion-card-content class="news-card-content">
                              • {{ news.newsTitle }}
                            </ion-card-content>
                          </ion-card>
                        </div>

                      <div class="view-all-wrapper">
                        <ion-button class="view-all-btn" (click)="viewAllNews()">
                          View All
                        </ion-button>
                      </div>
                      </div>                  -->
               

                   

                      <!-- <ion-grid class="two-productcard-row" style="margin-top: 40px;">
                        <ion-row class="ion-no-padding ion-align-items-center">

                          <ion-col size="6">
                            <ion-card class="product-card" (click)="goToProducts()">
                              <div class="card-content">
                                <ion-img src="../../../assets/poojauthpathi.png" class="product-img"></ion-img>
                                <h2 class="product-title">పూజ<br/>ఉత్పత్తులు</h2>
                              </div>
                            </ion-card>
                          </ion-col>

                          <ion-col size="6">
                            <ion-card class="books-card " (click)="goToBooks()">
                              <div class="card-content">
                                <h2 class="books-title">పుస్తకాలు</h2>
                                <ion-img src="../../../assets/books.png" class="books-img"></ion-img>
                              </div>
                            </ion-card>
                          </ion-col>

                        </ion-row>
                      </ion-grid> -->

                  <!-- <div class="temple-section">

                  <div class="header-container">
                    <span class="header-title">అయ్యప్ప స్వామి దేవాలయాలు</span>
                    <img src="../../../assets/seva.png" class="header-icon" />
                  </div>

                  <div class="temple-scroll-wrapper">
                    <ion-icon name="chevron-back-outline" (click)="scrollLeft()" class="nav-arrow"></ion-icon>

                    <div class="temple-scroll" #templeScroll>
                      <div class="temple-list">
                        <div *ngFor="let ayyappatemple of ayyappaTemples" class="temple-card" (click)="openAyyappaTempleDetails(ayyappatemple)">
                          <img
                              [src]="ayyappatemple.imageUrl"
                              (error)="onImageError($event)"
                              alt="Temple Image"
                            />

                         <h3 class="temple-name">{{ ayyappatemple.templeName }}</h3>

                        </div>
                      </div>
                    </div>

                    <ion-icon name="chevron-forward-outline" (click)="scrollRight()" class="nav-arrow"></ion-icon>
                  </div>

                  <div class="view-all-wrapper">
                    <ion-button fill="clear" class="view-all-btn" (click)="viewAllTemples()">
                      View All
                    </ion-button>
                  </div>
                </div> -->

                                  <!-- <div class="temple-section">
 
                  <div class="header-container">
                    <span class="header-title">సకల దేవతల ఆలయాలు</span>
                    <img src="../../../assets/seva.png" class="header-icon" />
                  </div>

                
                  <div class="temple-scroll-wrapper">
                    <ion-icon name="chevron-back-outline" (click)="ayyappascrollLeft()" class="nav-arrow"></ion-icon>

                    <div class="temple-scroll" #ayyappatempleScroll>
                      <div class="temple-list">
                        <div *ngFor="let temple of temples" class="temple-card" (click)="openTempleDetails(temple)">
                          <img
                              [src]="temple.imageUrl"
                              (error)="onImageError($event)"
                              alt="Temple Image"
                            />

                         <h3 class="temple-name">{{ temple.templeName }}</h3>

                        </div>
                      </div>
                    </div>

                    <ion-icon name="chevron-forward-outline" (click)="ayyapascrollRight()" class="nav-arrow"></ion-icon>
                  </div>

                  <div class="view-all-wrapper">
                    <ion-button fill="clear" class="view-all-btn" (click)="viewAllAyyappaTemples()">
                      View All
                    </ion-button>
                  </div>
                </div>             
                                              -->
                     

        </div>
      
    </ion-content>
<!--      
<ion-footer slot="fixed" class="custom-footer">
    <ion-toolbar class="custom-footer-toolbar">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">

         
          <ion-col size="auto" (click)="goToAnadanam()">
            <div class="icon-text-row">
              <ion-img src="../../../assets/location.png" class="bottom-icon"></ion-img>
              <p class="bottom-text">అన్నదానం</p>
            </div>
          </ion-col>

          <ion-col class="ion-text-center" size="2.4">
            <ion-img src="../../../assets/bottomcenter.png" class="bottom-icon"></ion-img>
          </ion-col>

          <ion-col size="auto" (click)="goToNityaPooja()">
            <div class="text-image-row">
              <p class="bottom-text">నిత్య పూజ</p>
              <ion-img src="../../../assets/nithyapooja.png" class="bottom-icon"></ion-img>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer> -->

  </div>
</ion-app>




   