<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ayyappa Telugu</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- ✅ Logo here -->
    <ion-img src="../../assets/bg_logo.jpeg"></ion-img>
    <!-- or -->
    <!-- <img src="assets/bg_logo.jpeg" alt="Logo" style="width:150px; height:auto;"> -->

   
  </div>
</ion-content>