<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
     <ion-back-button 
        defaultHref="/home" 
        text=""
        icon="arrow-back-outline"
        style="color: white !important; margin-left: 14px;">
  </ion-back-button>
    </ion-buttons>
    <div class="custom-toolbar">
      <h1>స్వామి శరణం అయ్యప్ప</h1>
      <h2>(www.ayyappatelugu.com)</h2>
    </div>
 
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container">
 <div class="header-container">
    <span class="header-title">అయ్యప్ప వీడియోలు</span>
    <img src="../../../assets/nearby.png" class="header-icon" />
  </div>

   <ion-searchbar
  [(ngModel)]="searchQuery"
  (ionInput)="filterResults($event)"
  placeholder="Search by title"
  style="--background: #ffffff; --color: #000000; margin-left: 10px;">
</ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="getVideos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div
    *ngFor="let item of filteredList"
    class="video-container">

    <video

      class="video-player"

      controls

      playsinline

      webkit-playsinline

      preload="metadata"

      (play)="playVideo($event)"

      (pause)="pauseVideo($event)">

      <source
        [src]="baseUrl + item.video"
        type="video/mp4">

    </video>

    <!-- RIGHT BUTTONS -->
           <div class="side-buttons">

              <ion-button fill="clear" class="icon-btn"
                (click)="createShareDownload(item)">
                <ion-icon name="share-social-outline"></ion-icon>
              </ion-button>

              <ion-button fill="clear" class="icon-btn"
                (click)="createDownloadOnly(item)">
                <ion-icon name="download-outline"></ion-icon>
              </ion-button>

            </div>

          <div class="bottom-section" #footerRef> 

         <div class="top-line"></div>



        <!-- Profile Circle -->

        <div
          class="profile-circle"
          *ngIf="hasFlyerData()">

           <img
          [src]="profileImage">

        </div>



        <div class="user-details">


          <ng-container *ngIf="hasFlyerData(); else uploadBtn">


            <h2>
              {{userName}}
            </h2>


            <p>
              {{userRole}}
            </p>


          </ng-container>



          <ng-template #uploadBtn>


            <ion-button
              color="warning"
              class="upload-btn"
              (click)="goToUploadDetails()">


              Upload Details Here


            </ion-button>


          </ng-template>


        </div>



       <div class="bottom-line"></div>


      </div>

  </div>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadMore($event)">

    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more videos...">
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>
  
  </div>

</ion-content>

<ion-footer slot="fixed" class="custom-footer">
    <ion-toolbar class="custom-footer-toolbar">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">

          <!-- First Item: Icon + Text -->
          <ion-col size="auto" (click)="goToAnadanam()">
            <div class="icon-text-row">
              <ion-img src="../../../assets/location.png" class="bottom-icon"></ion-img>
              <p class="bottom-text">అన్నదానం</p>
            </div>
          </ion-col>

          <!-- Center Icon -->
          <ion-col class="ion-text-center" size="2.4">
            <ion-img src="../../../assets/bottomcenter.png" class="bottom-icon"></ion-img>
          </ion-col>

          <!-- Fifth Item: Text + Icon -->
          <ion-col size="auto" (click)="goToNityaPooja()">
            <div class="text-image-row">
              <p class="bottom-text">నిత్య పూజ</p>
              <ion-img src="../../../assets/nithyapooja.png" class="bottom-icon"></ion-img>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>