<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title"> అయ్యప్ప దేవాలయాల సమాచారం </h2>
    <ion-icon name="close-outline" class="close-icon" (click)="close()"></ion-icon>
  </div>

  <div class="dialog-content">
    <p>
      అయ్యప్ప స్వామి భక్తుల కోసం ప్రపంచవ్యాప్తంగా అనేక ప్రసిద్ధ దేవాలయాలు ఉన్నాయి. ముఖ్యంగా దక్షిణ భారతదేశంలో, అయ్యప్ప స్వామి పూజలు మరియు దీక్షలు విరివిగా నిర్వహించబడతాయి.</p>

    <h3 style="font-size: 16px; font-weight: bold;">శబరిమల అయ్యప్ప స్వామి ఆలయం</h3>
    <p>ఇది అయ్యప్ప స్వామికి అంకితమైన అత్యంత ప్రాముఖ్యమైన ఆలయం.</p>
    <p>ప్రతి సంవత్సరం మాండలిక పూజల సమయంలో కోట్లాది మంది భక్తులు ఇక్కడ దర్శనం చేస్తారు.</p>
    <p>41 రోజుల దీక్ష అనంతరం భక్తులు ఇక్కడ మకరజ్యోతి దర్శనం చేసుకోవడం విశేషం.</p>
    <p>అయ్యప్ప స్వామిని ధర్మశాస్త్రగా కొలిచే ప్రదేశం.</p>
    <p>అయ్యప్ప స్వామిని ధర్మశాస్త్రగా కొలిచే ప్రదేశం.</p>
   
  </div>
</div>